.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-color: transparent;
  color: white;
  height: 13vh;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.header_container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.header_left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.header_right ul {
  width: 150%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}
