 /* @import url();
 :root{
  --font-
 } */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  background-color:#111;
 }
 /* :root {
  --font-base
  --bg-color:#111
  --secondary-color:red
 } */